.navbar-container {
  background-color: #ffe4d6;
  width: 150px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.navbar-items {
  display: flex;
  flex-direction: column;
}


/* Icons */
.fa-th-list {
  position: absolute;
  top: 120px;
  right: 58px;
  font-size: 40px;
  text-align: center;
  color: initial;
}

.fa-clipboard-list {
  position: absolute;
  top: 248px;
  right: 62px;
  font-size: 40px;
  text-align: center;
  color: initial;
}

.fa-users {
  position: absolute;
  top: 378px;
  right: 51px;
  font-size: 40px;
  text-align: center;
  color: initial;
}

/* Media Query */
@media all and (max-width: 830px) {
  .navbar-container {
    width: 100px;
  }

  .fa-th-list {
    right: 34px;
    font-size: 35px;
  }
  
  .fa-clipboard-list {
    right: 38px;
    font-size: 35px;
  }
  
  .fa-users {
    right: 29px;
    font-size: 35px;
  }
}