.cards__item {
  /* border: 3px solid red; */
  border-radius: 24px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1110px;
  height: 446px;
  left: 240px;
  top: 205px;
  background-image: url(./89c822bfe458b2c884848f4b7e489a37\ 1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cards__item__attributes {
  /* border: 3px solid black; */
  display: flex;
  justify-content: space-between;
}

.cards__item__titles {
  /* border: 3px solid white;
  margin-top: 40px;
  margin-left: 40px;
  font-size: 24px; */
}

.cards__item__title {
  /* border: 3px solid white; */
  position: absolute;
  left: 40px;
  top: 40px;
  font-size: 24px;
  font-family: "Montserrat";
  font-style: normal;
  color: #FFFFFF;
}

.cards__item__subtitle {
  /* border: 3px solid white; */
  position: absolute;
  left: 40px;
  top: 71px;
  font-size: 16px;
  font-family: "Montserrat";
  font-style: normal;
  color: #FFFFFF;
}

.cards__item__min {
  /* border: 3px solid white; */
  margin-top: 40px;
  margin-right: 40px;
  font-size: 24px;
  font-family: "Montserrat";
  font-style: normal;
  color: #ffffff;
}

.player__logo {
  /* border: 3px solid black; */
  width: 84px;
  height: 75px;
  text-align: center;
  margin-bottom: 40px;
  margin-left: 40px;

}

.fa-play {
  margin-top: 18px;
  color: #ffffff;
}