/* .menu-container {
  display: flex;
} */

.menu-icons {
  display: flex;
  flex-direction: column;
  width: 160px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #ffe4d6;
  border-radius: 24px 0px 0px 0px;
}

.fa-stream {
  width: 48px;
  height: 48px;
  margin-left: 56px;
  margin-top: 127px;
  font-size: 40px;
}

.fa-paste {
  width: 48px;
  height: 48px;
  margin-left: 54px;
  margin-top: 72px;
  font-size: 40px;
}

.fa-users {
  width: 48px;
  height: 48px;
  margin-left: 54px;
  margin-top: 75px;
  font-size: 40px;
}

/* .navbar-container {
  display: flex;
  flex-direction: column;
  margin-left: 99px;
  margin-right: 99px;
  margin-top: 64px;
} */

.navbar-title {
  font-size: 48px;
  text-decoration: none;
  color: black;
  font-family: "Montserrat";
  height: 50px;
  margin-right: 400px;
}

.nav-menu {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  height: 75px;
  width: 920px;
}

.nav-item {
  margin-left: 48px;
  font-size: 24px;
  font-family: "Montserrat";
  font-weight: bold;
  margin-top: 26px;
}

.nav-links {
  text-decoration: none;
  color: #cbb1a2;
}
.menu-icons a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

/* .box {
  width: 1045px;
  height: 544px;
  background: url(./89c822bfe458b2c884848f4b7e489a37\1png);
  border-radius: 24px;
} */
