.App {
  display: flex;
}
.menu__container {
  width: 150px;
  height: 1700px;
  background-color: #ffe4d6;
  border: 3px solid black;
}

.menu__icons {
  display: flex;
  position: fixed;
  top: 0;
  left: 51px;
  bottom: 0;
}

.fa-stream {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 120px;
  font-size: 40px;
  text-align: center;
  color: initial;
}

.fa-receipt {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 248px;
  font-size: 40px;
  text-align: center;
  color: initial;
}

.fa-users {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 376px;
  font-size: 40px;
  text-align: center;
  color: initial;
}

.body__container {
  border: 3px solid red;
  height: 1700px;
  width: 1290px;
}

.navbar__container {
  border: 3px solid black;
  width: 1284px;
  height: 195px;
}

.nav__menu {
  border: 3px solid red;
  display: flex;
  list-style: none;
  justify-content: flex-end;
  height: 189px;
  width: 1098px;
  margin-left: 90px;
}

.nav__title {
  position: absolute;
  width: 191px;
  height: 59px;
  left: 248px;
  top: 64px;

  
}

.nav__item {
  margin-left: 64px;
  margin-top: 82px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;

}

.nav__links {
  text-decoration: none;
  color: #cbb1a2;
}

.cards {
  border: 3px solid green;
  height: 1499px;
}

