.courses__container {
  display: flex;

  font-family: "Montserrat";
  font-size: 24px;
}

.courses__container h1 {
  margin-left: 240px;
  margin-top: 64px;

  font-style: normal;
  font-weight: normal;
  font-size: 48px;

  color: #000000;
}

.courses__container ul {
  display: flex;

  list-style: none;

  margin-top: 82px;
  margin-left: 533px;
}

.courses__container ul li {
  margin-left: 64px;

  font-style: normal;
  font-weight: bold;
  
  color: #cbb1a2;
}
