.shopping-list__container {
  margin-left: 240px;
  margin-top: 64px;
  margin-right: 90px;
  max-width: 1200px;
  font-family: "Montserrat";
  font-size: 24px;
}

.shopping-list__container header {
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  color: #000000;
}

header ul {
  display: flex;
  list-style: none;
}

header ul li {
  margin-left: 64px;
  padding-top: 18px;
  font-style: normal;
  font-weight: bold;
  color: #cbb1a2;
}
header ul li span {
  transition: all 0.5s;
  cursor: pointer;
}
header ul li span:hover {
  color: #6749a5;
}
