.users__container {
  display: flex;
  justify-content: space-between;

  margin-left: 240px;
  margin-top: 64px;
  margin-right: 90px;
  width: 1200px;
  font-family: "Montserrat";
  font-size: 24px;
}

.users__container h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;

  color: #000000;
}

.users__container ul {
  display: flex;

  list-style: none;
}

.users__container ul li {
  margin-left: 64px;
  padding-top: 18px;

  font-style: normal;
  font-weight: bold;

  color: #cbb1a2;
}

.users__container ul li span {
  transition: all 0.5s;
}
.users__container ul li span:hover {
  color: #6749A5;
  cursor: pointer;
}

