.users__container {
  margin-left: 240px;
  margin-top: 64px;
  margin-right: 90px;
  max-width: 1200px;
  font-family: "Montserrat";
  font-size: 24px;
}

.users__container header {
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;

  color: #000000;
}

header ul {
  display: flex;

  list-style: none;
}

header ul li {
  margin-left: 64px;
  padding-top: 18px;

  font-style: normal;
  font-weight: bold;

  color: #cbb1a2;
}

header ul li span {
  transition: all 0.5s;
}
header ul li span:hover {
  color: #6749A5;
  cursor: pointer;
}

/* Media Query */
@media all and (max-width: 830px) {
  .users__container {
    margin-left: 121px;
    margin-right: 21px;
    max-width: 740px;
    font-size: 24px;
  }

  .users__container header {
    flex-direction: column;
  }

  .users__container header ul {
    margin-top: 18px;
  }

  .users__container header ul li:first-child {
    margin-left: 0px;
  }

  .users__container header ul li {
    margin-left: 35px;
    padding-top: 18px;
    font-style: normal;
    font-weight: bold;
    color: #cbb1a2;
  }
}

